VTJ4ES_XMLTask/VTJ4ES_XMLSchema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified"
           elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <!--SIMPLE TYPE-->

    
    <xs:simpleType name="idType">
        <xs:restriction base="xs:integer">
            <xs:minInclusive value="1"/>
        </xs:restriction>
    </xs:simpleType>

    
    <xs:simpleType name="moneyType">
        <xs:restriction base="xs:integer">
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>

    <!-- HOUR:MIN FORMAT (HH:MM) -->
    <xs:simpleType name="timeHMType">
        <xs:restriction base="xs:string">
            <xs:pattern value="\d{2}:\d{2}"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="placementType">
        <xs:restriction base="xs:integer">
            <xs:minInclusive value="1"/>
        </xs:restriction>
    </xs:simpleType>


    <!--COMPLEX TYPE-->

    <xs:complexType name="NameType">
        <xs:sequence>
            <xs:element name="first_name" type="xs:string"/>
            <xs:element name="last_name" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="ContactsType">
        <xs:sequence>
            <xs:element name="e_mail" type="xs:string"/>
            <xs:element name="phone_number" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="ProfileType">
        <xs:sequence>
            <xs:element name="surface" type="xs:string"/>
            <xs:element name="profile_text" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="DateInfoType">
        <xs:sequence>
            <xs:element name="date" type="xs:string"/>
            <xs:element name="start_time" type="timeHMType"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="ScheduleType">
        <xs:sequence>
            <xs:element name="weekday" type="xs:string"/>
            <xs:element name="start_time" type="timeHMType"/>
            <xs:element name="end_time" type="timeHMType"/>
        </xs:sequence>
    </xs:complexType>


    <!--ENTITY TYPE-->

    <!-- Athlete -->
    <xs:complexType name="AthleteType">
        <xs:sequence>
            <xs:element name="name" type="NameType"/>
            <xs:element name="birth_date" type="xs:string"/>
            <xs:element name="contacts" type="ContactsType"/>
            <xs:element name="skills" type="xs:string" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="athleteID" type="idType" use="required"/>
    </xs:complexType>

    <!-- Membership -->
    <xs:complexType name="MembershipType">
        <xs:sequence>
            <xs:element name="type" type="xs:string"/>
            <xs:element name="monthly_price" type="moneyType"/>
            <xs:element name="benefits" type="xs:string" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="membershipID" type="idType" use="required"/>
    </xs:complexType>

    <!-- Coach -->
    <xs:complexType name="CoachType">
        <xs:sequence>
            <xs:element name="name" type="NameType"/>
            <xs:element name="experience_years" type="xs:integer"/>
            <xs:element name="specializations" type="xs:string" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="coachID" type="idType" use="required"/>
    </xs:complexType>

    <!-- Location -->
    <xs:complexType name="LocationType">
        <xs:sequence>
            <xs:element name="name" type="xs:string"/>
            <xs:element name="capacity" type="xs:integer"/>
            <xs:element name="profile" type="ProfileType"/>
            <xs:element name="equipment" type="xs:string" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="locationID" type="idType" use="required"/>
    </xs:complexType>

    <!-- TrainingGroup -->
    <xs:complexType name="TrainingGroupType">
        <xs:sequence>
            <xs:element name="sport" type="xs:string"/>
            <xs:element name="level" type="xs:string"/>
            <xs:element name="name" type="xs:string"/>
            <xs:element name="schedule" type="ScheduleType"/>
        </xs:sequence>
        <xs:attribute name="groupID" type="idType" use="required"/>
    </xs:complexType>

    <!-- Competition -->
    <xs:complexType name="CompetitionType">
        <xs:sequence>
            <xs:element name="name" type="xs:string"/>
            <xs:element name="degree" type="xs:string"/>
            <xs:element name="date_info" type="DateInfoType"/>
        </xs:sequence>
        <xs:attribute name="compID" type="idType" use="required"/>
    </xs:complexType>


    <!--RELATIONSHIP TYPES -->

    <!-- HasMembership: Athlete – Membership -->
    <xs:complexType name="HasMembershipType">
        <xs:attribute name="hasMembershipID" type="idType" use="required"/>
        <xs:attribute name="athleteRef" type="idType" use="required"/>
        <xs:attribute name="membershipRef" type="idType" use="required"/>
        <xs:attribute name="joinDate" type="xs:string" use="required"/>
    </xs:complexType>

    <!-- JoinGroup: Athlete – TrainingGroup -->
    <xs:complexType name="JoinGroupType">
        <xs:attribute name="joinGroupID" type="idType" use="required"/>
        <xs:attribute name="athleteRef" type="idType" use="required"/>
        <xs:attribute name="groupRef" type="idType" use="required"/>
    </xs:complexType>

    <!-- LeadGroup: Coach – TrainingGroup -->
    <xs:complexType name="LeadGroupType">
        <xs:attribute name="leadGroupID" type="idType" use="required"/>
        <xs:attribute name="coachRef" type="idType" use="required"/>
        <xs:attribute name="groupRef" type="idType" use="required"/>
    </xs:complexType>

    <!-- TakePlaceAt: TrainingGroup – Location -->
    <xs:complexType name="TakePlaceAtType">
        <xs:attribute name="takePlaceAtID" type="idType" use="required"/>
        <xs:attribute name="groupRef" type="idType" use="required"/>
        <xs:attribute name="locationRef" type="idType" use="required"/>
    </xs:complexType>

    <!-- CompeteIn: Athlete – Competition -->
    <xs:complexType name="CompeteInType">
        <xs:attribute name="competeInID" type="idType" use="required"/>
        <xs:attribute name="athleteRef" type="idType" use="required"/>
        <xs:attribute name="compRef" type="idType" use="required"/>
        <xs:attribute name="placement" type="placementType" use="required"/>
    </xs:complexType>


    <!--GLOBAL ELEMENTS-->

    <xs:element name="Athlete" type="AthleteType"/>
    <xs:element name="Membership" type="MembershipType"/>
    <xs:element name="Coach" type="CoachType"/>
    <xs:element name="Location" type="LocationType"/>
    <xs:element name="TrainingGroup" type="TrainingGroupType"/>
    <xs:element name="Competition" type="CompetitionType"/>

    <xs:element name="HasMembership" type="HasMembershipType"/>
    <xs:element name="JoinGroup" type="JoinGroupType"/>
    <xs:element name="LeadGroup" type="LeadGroupType"/>
    <xs:element name="TakePlaceAt" type="TakePlaceAtType"/>
    <xs:element name="CompeteIn" type="CompeteInType"/>


    <!-- GYÖKÉR ELEM-->

    <xs:element name="Sport_Club_VTJ4ES">
        <xs:complexType>
            <xs:sequence>
                <!--ENTITIES -->
                <xs:element ref="Athlete" maxOccurs="unbounded"/>
                <xs:element ref="Membership" maxOccurs="unbounded"/>
                <xs:element ref="Coach" maxOccurs="unbounded"/>
                <xs:element ref="Location" maxOccurs="unbounded"/>
                <xs:element ref="TrainingGroup" maxOccurs="unbounded"/>
                <xs:element ref="Competition" maxOccurs="unbounded"/>

                <!-- RELATIONSHIPS -->
                <xs:element ref="HasMembership" maxOccurs="unbounded"/>
                <xs:element ref="JoinGroup" maxOccurs="unbounded"/>
                <xs:element ref="LeadGroup" maxOccurs="unbounded"/>
                <xs:element ref="TakePlaceAt" maxOccurs="unbounded"/>
                <xs:element ref="CompeteIn" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>

        <!--KEY-->

        <xs:key name="athlete_key">
            <xs:selector xpath="Athlete"/>
            <xs:field xpath="@athleteID"/>
        </xs:key>

        <xs:key name="membership_key">
            <xs:selector xpath="Membership"/>
            <xs:field xpath="@membershipID"/>
        </xs:key>

        <xs:key name="coach_key">
            <xs:selector xpath="Coach"/>
            <xs:field xpath="@coachID"/>
        </xs:key>

        <xs:key name="location_key">
            <xs:selector xpath="Location"/>
            <xs:field xpath="@locationID"/>
        </xs:key>

        <xs:key name="group_key">
            <xs:selector xpath="TrainingGroup"/>
            <xs:field xpath="@groupID"/>
        </xs:key>

        <xs:key name="competition_key">
            <xs:selector xpath="Competition"/>
            <xs:field xpath="@compID"/>
        </xs:key>


        <!-- KEYREF-->

        <!-- HasMembership: Athlete – Membership -->
        <xs:keyref name="hasMembership_athlete_fk" refer="athlete_key">
            <xs:selector xpath="HasMembership"/>
            <xs:field xpath="@athleteRef"/>
        </xs:keyref>

        <xs:keyref name="hasMembership_membership_fk" refer="membership_key">
            <xs:selector xpath="HasMembership"/>
            <xs:field xpath="@membershipRef"/>
        </xs:keyref>

        <!-- JoinGroup: Athlete – TrainingGroup -->
        <xs:keyref name="joinGroup_athlete_fk" refer="athlete_key">
            <xs:selector xpath="JoinGroup"/>
            <xs:field xpath="@athleteRef"/>
        </xs:keyref>

        <xs:keyref name="joinGroup_group_fk" refer="group_key">
            <xs:selector xpath="JoinGroup"/>
            <xs:field xpath="@groupRef"/>
        </xs:keyref>

        <!-- LeadGroup: Coach – TrainingGroup -->
        <xs:keyref name="leadGroup_coach_fk" refer="coach_key">
            <xs:selector xpath="LeadGroup"/>
            <xs:field xpath="@coachRef"/>
        </xs:keyref>

        <xs:keyref name="leadGroup_group_fk" refer="group_key">
            <xs:selector xpath="LeadGroup"/>
            <xs:field xpath="@groupRef"/>
        </xs:keyref>

        <!-- TakePlaceAt: TrainingGroup – Location -->
        <xs:keyref name="takePlaceAt_group_fk" refer="group_key">
            <xs:selector xpath="TakePlaceAt"/>
            <xs:field xpath="@groupRef"/>
        </xs:keyref>

        <xs:keyref name="takePlaceAt_location_fk" refer="location_key">
            <xs:selector xpath="TakePlaceAt"/>
            <xs:field xpath="@locationRef"/>
        </xs:keyref>

        <!-- CompeteIn: Athlete – Competition -->
        <xs:keyref name="competeIn_athlete_fk" refer="athlete_key">
            <xs:selector xpath="CompeteIn"/>
            <xs:field xpath="@athleteRef"/>
        </xs:keyref>

        <xs:keyref name="competeIn_comp_fk" refer="competition_key">
            <xs:selector xpath="CompeteIn"/>
            <xs:field xpath="@compRef"/>
        </xs:keyref>


        <!--UNIQUE-->

        <!-- Minden Athlete-nek legfeljebb 1 HasMembership rekord -->
        <xs:unique name="oneMembershipPerAthlete">
            <xs:selector xpath="HasMembership"/>
            <xs:field xpath="@athleteRef"/>
        </xs:unique>

        <!-- Minden TrainingGroup-hoz legfeljebb 1 LeadGroup rekord -->
        <xs:unique name="oneCoachPerGroup">
            <xs:selector xpath="LeadGroup"/>
            <xs:field xpath="@groupRef"/>
        </xs:unique>

        <!-- Minden TrainingGroup-ra max 1 TakePlaceAt sor -->
        <xs:unique name="oneLocationPerGroup">
            <xs:selector xpath="TakePlaceAt"/>
            <xs:field xpath="@groupRef"/>
        </xs:unique>

    </xs:element>

</xs:schema>
