VTJ4ES_0924/VTJ4ES_kurzusfelvetel.dtd

<!ELEMENT KLNSPG_kurzusfelvetel (hallgato,kurzusok)>
    <!ATTLIST KLNSPG_kurzusfelvetel 
        tanev CDATA #REQUIRED
        egyetem CDATA #FIXED "ME">

<!ELEMENT hallgato (hnev,szulev,szak+)>
    <!ATTLIST hallgato
        id ID #REQUIRED>
<!ELEMENT hnev (#PCDATA)>
<!ELEMENT szulev (#PCDATA)>
<!ELEMENT szak (#PCDATA)>
    <!ATTLIST szak
        evf CDATA #REQUIRED>

<!ELEMENT kurzusok (kurzus*)>
<!ELEMENT kurzus (kurzusnev,kredit,hely,idopont+,oktato?)>
    <!ATTLIST kurzus 
        id ID #REQUIRED
        nyelv CDATA #IMPLIED 
        jovahagyas CDATA "nem">
<!ELEMENT kurzusnev (#PCDATA)>
<!ELEMENT kredit (#PCDATA)>
<!ELEMENT hely (#PCDATA)>
<!ELEMENT idopont (#PCDATA)>
<!ELEMENT oktato (#PCDATA)>