VTJ4ES_0924/VTJ4ES_orarend.dtd

<!ELEMENT VTJ4ES_orarend (ora+)>

<!ELEMENT ora(targy, idopont, helyszin, oktato, szak)>
<!ATTLIST ora id CDATA #REQUIRED
                tipus (elmelet|gyakorlat) #REQUIRED>

<!ELEMENT targy (#PCDATA)>
<!ELEMENT idopont (nap,tol, ig)>
<!ELEMENT helyszin (#PCDATA)>
<!ELEMENT oktato (#PCDATA)>
<!ELEMENT szak (#PCDATA)>
